<div *ngIf="movie"
     class="page">

  <grand-page-title [title]="movie.title" [actions]="[]"></grand-page-title>

  <div class="row page-block">

    <div class="col-4">
      <img src="{{ movie.poster }}" alt="{{ movie.title }}"/>
    </div>

    <div class="col-8">

      <div class="display-object-row">
        <span>
          <label class="display-object-label"
                 i18n="Movie title title@@movie.title">
            Title
          </label>
          <span class="display-object-value">
            {{ movie.title }}
          </span>
        </span>
      </div>

      <div class="display-object-row">
        <span>
          <label class="display-object-label"
                 i18n="Movie description title@@movie.description">
            Description
          </label>
          <span class="display-object-value">
            {{ movie.plot }}
          </span>
        </span>
      </div>

      <div class="display-object-row">
        <span>
          <label class="display-object-label"
                 i18n="Movie release date title@@movie.released">
            Date
          </label>
          <span class="display-object-value"> {{ movie.released | date }} </span>
        </span>
      </div>

      <div class="display-object-row">
        <span>
          <label class="display-object-label"
                 i18n="Movie directors title@@movie.directors">
                 Directors
          </label>
          <span class="display-object-value">
            <span *ngFor="let director of movie.directors; trackBy: director?.name">
              {{ director.name }}
            </span>
          </span>
        </span>
      </div>


      <div class="display-object-row">
        <span>
          <label class="display-object-label"
                 i18n="Movie actors title@@movie.actors">
                 Actors
          </label>
          <span class="display-object-value">
            <span *ngFor="let actor of movie.actors; trackBy: actor?.name">
              {{ actor.name }}
            </span>
          </span>
        </span>
      </div>

      <div class="display-object-row">
        <span>
          <label class="display-object-label"
                 i18n="Movie genre title@@movie.genres">
            Genres
          </label>
          <span class="display-object-value">
            <span *ngFor="let genre of movie.genres; trackBy:genre?.name">
              {{ genre.name }}
            </span>
          </span>
        </span>
      </div>

    </div>
  </div>

  <div *ngIf="movie.recommendations"
       class="row page-block recommendations">

      <div class="col-12">
        <h3 i18n="Recommendation title for the movie page@@movie.reco">
          Recommendations
        </h3>
      </div>

    <div class="movie-reco col-12">
      <div *ngFor="let film of movie.recommendations; trackBy:film?.movieId"
           class="movie-reco-item">
        <grand-movie-view-card [movie]="film"></grand-movie-view-card>
      </div>
    </div>

  </div>

</div>
