.movies-result {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;

  .movies-result-item {
    display: inline-flex;
    cursor: pointer;
    margin-bottom: 30px;
  }
}
