<div class="page">

  <div class="row d-flex align-items-center page-block">
    <div class="col-8">
      <h1 class="h2">
        Movies
      </h1>
    </div>

    <div class="col-4">
      <div class="float-right input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input type="text" class="form-control" placeholder="by name..." [(ngModel)]="search" (keyup.enter)="doSearch()">
      </div>
    </div>

  </div>

  <div class="row page-block" *ngIf="movies != null">
    <div class="col-12 movies-result"
         *ngIf="movies != null"
         infiniteScroll
         [infiniteScrollDistance]="0.1"
         [infiniteScrollThrottle]="50"
         (scrolled)="fetchMore()">

         <div *ngFor="let movie of movies" class="movies-result-item">
           <movie-view-card [movie]="movie"></movie-view-card>
         </div>

      <p *ngIf="hasMore" class="text-center"><a (click)="fetchMore()"> Load more </a></p>
    </div>
  </div>

</div>
